*{
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-color: hsl(0, 0%, 98%);
    font-family: "Poppins", sans-serif;

}
.para{
    text-align: center;
    margin-top: 2em;
}
.para h1{
    font-weight: lighter;
    font-size: 2em;
}
.para h2{
    margin-top: 0.1em;
    font-size: 2em;
}
.para p{
    max-width: 32vw;
    margin: 1em auto;
    font-weight: lighter;
}
.container{
    max-width: 90vw;
    height: 70vh;
    margin:  8vh auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Supervisor{
    width: 23em;
    height: 14em;
    border-top: 5px solid hsl(180, 62%, 55%);
    border-radius: 5px;
    margin:auto 1em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.Supervisor h5{
    margin-top: 1em;
    margin-left: 1.5em;
    font-size: 1.1em;
}
.Supervisor p{
    margin-top: 0.7em;
    margin-left: 2em;
    font-size: 14px;
    font-weight: lighter;
    max-width: 20em;
}
.Supervisor img{
    margin-top: 3.5em;
    margin-left: 18em;
}
.teambuilder{
    background-color: white;
    width: 23em;
    height: 14em;
    border-top: 5px solid hsl(0, 78%, 62%);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.teambuilder h5{
    margin-top: 1em;
    margin-left: 1.5em;
    font-size: 1.1em;
}
.teambuilder p{
    margin-top: 0.7em;
    margin-left: 2em;
    font-size: 14px;
    font-weight: lighter;
    max-width: 20em;
}
.karma{
    background-color: white;
    width: 23em;
    height: 14em;
    border-top: 5px solid hsl(34, 97%, 64%);
    border-radius: 5px;
    margin-top: 1em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.karma h5{
    margin-top: 1em;
    margin-left: 1.5em;
    font-size: 1.1em;
}
.karma p{
    margin-top: 0.7em;
    margin-left: 2em;
    font-size: 14px;
    font-weight: lighter;
    max-width: 20em;
}
.calculator{
    width: 23em;
    height: 14em;
    border-top: 5px solid hsl(212, 86%, 64%);
    border-radius: 5px;
    margin:auto 1em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.calculator h5{
    margin-top: 1em;
    margin-left: 1.5em;
    font-size: 1.1em;
}
.calculator p{
    margin-top: 0.7em;
    margin-left: 2em;
    font-size: 14px;
    font-weight: lighter;
    max-width: 20em;
}

.teambuilder img{
    margin-top: 3.5em;
    margin-left: 18em;
}
.karma img{
    margin-top: 3.5em;
    margin-left: 18em;
}
.calculator img{
    margin-top: 3.5em;
    margin-left: 18em;
}
